@import "tailwindcss";

/* =======================
   ZMIENNE CSS GLOBALNE
   ======================= */
:root {
  --color-primary: #2f7d32;
  --color-primary-light: #5dbb63;

  --color-secondary: #2e5b8a;

  --color-accent: #ffb300;

  --color-background: #f5f3ee;
  --color-surface: #ffffff;

  --color-text-main: #6e6e6e;
  --color-text-secondary: #8a8a8a;
  --font-sans: "Roboto", sans-serif;
  --font-heading: "Poppins", sans-serif;
}
@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}
@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-background: var(--color-background);
  --color-text-main: var(--color-text-main);
  --color-text-secondary: var(--color-text-secondary);
  --font-sans: var(--font-sans);
}

html[data-theme="dark"] {
  --color-background: #f5f3ee;
  --color-text-main: #6e6e6e;
  --color-text-secondary: #8a8a8a;
}

html[data-theme="light"] {
  --color-background: #f5f3ee;
  --color-text-main: #6e6e6e;
  --color-text-secondary: #8a8a8a;
}
body {
  background: var(--color-background);
  color: var(--color-text-main);
  font-family: var(--font-sans);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--color-text-main);
}
@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shine {
  animation: shine 0.6s ease-in-out;
}
@keyframes cart-shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-3px);
  }
  40% {
    transform: translateX(3px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-cart-shake {
  animation: cart-shake 0.4s ease-in-out;
}
