@import "tailwindcss";

/* =======================
   ZMIENNE CSS GLOBALNE
   ======================= */
:root {
  /* Kolory NatureWorld z logo */
  --color-primary: #2f7d32; /* Zieleń – CTA, nagłówki */
  --color-secondary: #6d6d6d; /* Szary – tekst mniej ważny */
  --color-accent: #ffb300; /* Żółty – hover / CTA */
  --color-background: #f5f3ee; /* Jasne tło strony */
  --color-text-main: #1b1b1b; /* Główny tekst */
  --color-text-secondary: #666666; /* Opisy, meta, mniejsze teksty */
  --font-sans: "Roboto", sans-serif;
  --font-heading: "Poppins", sans-serif;
}
@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}
@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-background: var(--color-background);
  --color-text-main: var(--color-text-main);
  --color-text-secondary: var(--color-text-secondary);
  --font-sans: var(--font-sans);
}

html[data-theme="dark"] {
  --color-background: #f5f3ee;
  --color-text-main: #1b1b1b;
  --color-text-secondary: #666666;
}

html[data-theme="light"] {
  --color-background: #f5f3ee;
  --color-text-main: #1b1b1b;
  --color-text-secondary: #666666;
}
body {
  background: var(--color-background);
  color: var(--color-text-main);
  font-family: var(--font-sans);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--color-text-main);
}
