@import "tailwindcss";

:root {
  --color-primary: #2f7d32; /* Zieleń */
  --color-secondary: #6d4c41; /* Brąz */
  --color-background: #f5f3ee; /* Beż */
  --color-accent: #ffb300; /* Żółty */
  --color-text-main: #1b1b1b; /* Czarny */
  --color-text-secondary: #666666; /* Szary */
  --font-sans: Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-background: var(--color-background);
  --color-accent: var(--color-accent);
  --color-text-main: var(--color-text-main);
  --color-text-secondary: var(--color-text-secondary);
  --font-sans: var(--font-sans);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-text-main: #ededed;
    --color-text-secondary: #999999;
  }
}

body {
  background: var(--color-background);
  color: var(--color-text-main);
  font-family: var(--font-sans);
}
